mixin about(links, content)
  section(class!=`${'about'}`)&attributes(attributes)
    h2.visually-hidden About the developer

    img(
      src='@img/avatar.jpg'
      alt='Developer\'s photo'
      width='240'
      height='240'
    ).about__avatar

    p.about__profession= content.profession
    p.about__name= content.name
    p.about__description= content.about

    ul.about__contacts-list
      each link in links
        li.about__contacts-item
          +link({...link, ...{mode: 'dark'}})
