mixin about(links, content)
  section(class!=`${'about'}`)&attributes(attributes)
    img(
      src='@img/avatar.jpg'
      alt='Developer\'s photo'
      width='240'
      height='240'
    ).about__avatar

    h2.about__profession= content.profession
    h3.about__name= content.name
    p.about__description= content.about

    ul.about__contacts-list
      each link in links
        li.about__contacts-item
          +link(link)
